* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    background-color: white;
   
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
    }

.wrapper {
    width: 500px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 45px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: navy;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 70px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}
nav ul ul li{
    
    float: none;
    display: list-item;
    position: relative;
    border-bottom:1px solid navy;
    line-height: 40px;
    
}

nav ul li a {
    color: navy;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    
}

nav ul li a:hover {
    text-decoration:underline;
    color:navy;
    
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 150px;
    margin-bottom: 80px;
}


h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h1 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

.centerimage{
    position: relative;
    top: 30%;
    left: 45%;
}

#copyright {

    position: relative;
    text-align: center;
    
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

h4{
    position: relative;
    top: 25%;
    left: 87%;
    font-size: 20px;
}

nav .menu .dropdown {
    display: none;
  }
  
  nav ul li:hover .dropdown{
    display: block;
    background-color:rgb(52, 51, 51);
    position:absolute;    
   
  }
.dropdown{
    font-size: 14px;
    text-align: center;    
}
